<%-include ./layout/homeheader.html%>
<link rel="stylesheet" href="css/admin.css">
<main class="g-body clearfix">
    <aside class="m_left_nav fl">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">Main Menu</li>
                <li class="treeview">
                    <a class="cursor"><span>展厅管理</span></a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="#addExh">-->添加展览馆</a></li>
                        <li><a href="#changeExh">-->修改展览馆</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a class="cursor"><span>预约管理</span></a>
                    <ul class="treeview-menu">
                        <li><a href="#changeYuyue"> -->客户预约修改</a></li>
                        <li><a href="#delYuyue"> -->客户预约删除</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a class="cursor"><span>会员管理</span></a>
                    <ul class="treeview-menu">
                        <li><a href="#watchHuiyuan"> -->会员列表查看</a></li>
                        <li><a href="#changeHuiyuan"> -->会员信息修改</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a class="cursor"><span>账号登出</span></a>
                    <ul class="treeview-menu">
                        <li><a href="/logout"> -->注销</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="m_main_form fl">
        <ol class="breadcrumb">
            <li>展厅管理</li>
            <li>添加展览馆</li>
        </ol>
        <div class="main_module m_add_exh center-block displayNone" style="width:40%">
            <form class="m_add_exh_form">
                <div class="form-group">
                    <label for="addName">展厅名</label>
                    <input type="text" class="form-control" id="addName" placeholder="xx展厅">
                </div>
                <div class="form-group">
                    <label for="addAddress">地址</label>
                    <input type="email" class="form-control" id="addAddress" placeholder="xx省xx市">
                </div>
                <div class="form-group">
                    <label for="addImgSrc">图片链接</label>
                    <input type="email" class="form-control" id="addImgSrc" placeholder="xx.jpg">
                </div>
                <div class="form-group">
                    <label for="addDetail">展厅详情</label>
                    <textarea class="form-control" id="addDetail" rows="3"></textarea>
                </div>
                <button type="button" id="addExh" class="btn btn-success col-md-4 col-lg-offset-4">添加</button>
            </form>
        </div>
        <div class="main_module m_change_exh displayNone">
            <table class="table table-bordered table-hover definewidth m10">
                <thead class="bg-success">
                <tr>
                    <th class="text-center">展厅名</th>
                    <th class="text-center">展厅地址</th>
                    <th class="text-center">展厅详情</th>
                    <th class="text-center">展厅状态</th>
                    <th class="text-center">管理操作</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i in commoditys){ %>
                <tr class="text-center u_do">
                    <td class="exhName"><%=commoditys[i].name%></td>
                    <td class="exhAddress"><%=commoditys[i].address%></td>
                    <td class="exhDetail"><%=commoditys[i].detail%></td>
                    <td class="exhStatus"><%=commoditys[i].status%></td>
                    <td data-index="<%=commoditys[i]._id%>">
                        <span class="changeExh">修改</span>
                        <span class="upExh">上架</span>
                        <span class="downExh">下架</span>
                        <span class="delExh">删除</span>
                    </td>
                </tr>
                <% }; %>
                </tbody>
            </table>
        </div>
        <div class="main_module m_change_yuyue displayNone">
            <table class="table table-bordered table-hover definewidth m10">
                <thead class="bg-success">
                <tr>
                    <th class="text-center">展厅名</th>
                    <th class="text-center">展厅地址</th>
                    <th class="text-center">展厅详情</th>
                    <th class="text-center">展厅状态</th>
                    <th class="text-center">管理操作</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i in commoditys){ %>
                <tr class="text-center">
                    <td><%=commoditys[i].name%></td>
                    <td><%=commoditys[i].address%></td>
                    <td><%=commoditys[i].detail%></td>
                    <td><%=commoditys[i].status%></td>
                    <td>
                        <a style="display: inline-block;width: 40px" href="/changeExh?uid=<%=commoditys[i]._id%>">修改</a>
                        <a style="display: inline-block;width: 40px" href="/exhToTure/<%=commoditys[i]._id%>">上架</a>
                        <a style="display: inline-block;width: 40px" href="/delExh/<%=commoditys[i]._id%>">下架</a>
                    </td>
                </tr>
                <% }; %>
                </tbody>
            </table>
        </div>
        <div class="main_module m_del_yuyue displayNone">
            <table class="table table-bordered table-hover definewidth m10">
                <thead class="bg-success">
                <tr>
                    <th class="text-center">展厅名</th>
                    <th class="text-center">展厅地址</th>
                    <th class="text-center">展厅详情</th>
                    <th class="text-center">展厅状态</th>
                    <th class="text-center">管理操作</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i in commoditys){ %>
                <tr class="text-center">
                    <td><%=commoditys[i].name%></td>
                    <td><%=commoditys[i].address%></td>
                    <td><%=commoditys[i].detail%></td>
                    <td><%=commoditys[i].status%></td>
                    <td>
                        <a style="display: inline-block;width: 40px" href="/changeExh?uid=<%=commoditys[i]._id%>">修改</a>
                        <a style="display: inline-block;width: 40px" href="/exhToTure/<%=commoditys[i]._id%>">上架</a>
                        <a style="display: inline-block;width: 40px" href="/delExh/<%=commoditys[i]._id%>">下架</a>
                    </td>
                </tr>
                <% }; %>
                </tbody>
            </table>
        </div>
        <div class="main_module m_watch_huiyuan displayNone">
            <table class="table table-bordered table-hover definewidth m10">
                <thead class="bg-success">
                <tr>
                    <th class="text-center">展厅名</th>
                    <th class="text-center">展厅地址</th>
                    <th class="text-center">展厅详情</th>
                    <th class="text-center">展厅状态</th>
                    <th class="text-center">管理操作</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i in commoditys){ %>
                <tr class="text-center">
                    <td><%=commoditys[i].name%></td>
                    <td><%=commoditys[i].address%></td>
                    <td><%=commoditys[i].detail%></td>
                    <td><%=commoditys[i].status%></td>
                    <td>
                        <a style="display: inline-block;width: 40px" href="/changeExh?uid=<%=commoditys[i]._id%>">修改</a>
                        <a style="display: inline-block;width: 40px" href="/exhToTure/<%=commoditys[i]._id%>">上架</a>
                        <a style="display: inline-block;width: 40px" href="/delExh/<%=commoditys[i]._id%>">下架</a>
                    </td>
                </tr>
                <% }; %>
                </tbody>
            </table>
        </div>
        <div class="main_module m_change_huiyuan displayNone">
            <table class="table table-bordered table-hover definewidth m10">
                <thead class="bg-success">
                <tr>
                    <th class="text-center">展厅名</th>
                    <th class="text-center">展厅地址</th>
                    <th class="text-center">展厅详情</th>
                    <th class="text-center">展厅状态</th>
                    <th class="text-center">管理操作</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i in commoditys){ %>
                <tr class="text-center">
                    <td><%=commoditys[i].name%></td>
                    <td><%=commoditys[i].address%></td>
                    <td><%=commoditys[i].detail%></td>
                    <td><%=commoditys[i].status%></td>
                    <td>
                        <a style="display: inline-block;width: 40px" href="/changeExh?uid=<%=commoditys[i]._id%>">修改</a>
                        <a style="display: inline-block;width: 40px" href="/exhToTure/<%=commoditys[i]._id%>">上架</a>
                        <a style="display: inline-block;width: 40px" href="/delExh/<%=commoditys[i]._id%>">下架</a>
                    </td>
                </tr>
                <% }; %>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script>
    require(['/js/common.js'],function(common){
        require(['jquery'], function ($) {
            $('.treeview').click(function () {
                $(this).find('.treeview-menu').toggle();
            });
            $('.treeview-menu').click(function (e) {
                e.stopPropagation();
            })
            $('#delUser').click(function(){
                var userName = $('.user').text().trim();
                $.ajax({
                    url:'delUser',
                    type:'post',
                    data:{userName:userName},
                    success:function(data,status){
                        if(status == 'success'){
                            location.href='admin'
                        }
                    },
                    error:function(data,status){
                        alert('错误')
                    }
                })
            })
            $('.updateBtn').click(function(){
                $(this).parent().find('input,.commitBtn').removeClass('displayNone');
                $(this).parent().find('.commitBtn').click(function(){
                    var oname = $(this).parent().find('.oName').text(),
                        nname = $(this).parent().find('.name').val(),
                        price = $(this).parent().find('.price').val(),
                        imgSrc = $(this).parent().find('.imgSrc').val();
                    $.ajax({
                        url:'/updateCommodity',
                        type:'post',
                        data:{oname:oname,nname:nname,price:price,imgSrc:imgSrc},
                        success:function(data,status){
                            if(status == 'success'){
                                location.reload();
                            }
                        },
                        error: function (data,status) {
                            alert('error');
                        }
                    })
                })
            });
            //添加展厅 -ajax
            $('#addExh').click(function () {
                var name = $('#addName').val();
                var address = $('#addAddress').val();
                var imgSrc = $('#addImgSrc').val();
                var detail = $('#addDetail').val();
                $.ajax({
                    url:'/addcommodity',
                    type:'post',
                    data:{
                        "name": name,
                        "address": address,
                        "imgSrc": imgSrc,
                        "detail":detail,
                        "status":"true"
                    },
                    success:function(data,status){
                        if(status == 'success'){
                            alert("1");
                        }
                    },
                    error: function (data,status) {
                        alert('error');
                    }
                })
            });
            //下架
            $('.downExh').click(function () {
                var parent = $(this).parent();
                var url = "http://127.0.0.1:3000/exhToFalse/"+parent.data('index');
                $.getJSON(url+'?callback=?',function () {
                    parent.parent().find('.exhStatus').html("false");
                });
            });
            //上架
            $('.upExh').click(function () {
                var parent = $(this).parent();
                var url = "http://127.0.0.1:3000/exhToTrue/"+parent.data('index');
                $.getJSON(url+'?callback=?',function () {
                    parent.parent().find('.exhStatus').html("true");
                });
            });
            //删除
            $('.delExh').click(function () {
                var parent = $(this).parent();
                var url = "http://127.0.0.1:3000/delExh/"+parent.data('index');
                $.getJSON(url+'?callback=?',function () {
                    parent.parent().remove();
                });
            });
            $('.treeview-menu li').click(function (e) {
                $('.treeview-menu li').removeClass('active');
                $(this).addClass('active');
            });
            function hashChange(){
                var hash = location.hash;
                $('.main_module').hide();
                var navName1 = $('.breadcrumb li').eq(0);
                var navName2 = $('.breadcrumb li').eq(1);
                if(hash == "#addExh"){
                    $('.m_add_exh').show();
                    navName1.text("展厅管理");
                    navName2.text("添加展览馆");
                }else if(hash == "#changeExh"){
                    $('.m_change_exh').show();
                    navName1.text("展厅管理");
                    navName2.text("修改展览馆信息");
                }else if(hash == "#changeYuyue"){
                    $('.m_change_exh').show();
                    navName1.text("预约管理");
                    navName2.text("客户预约修改");
                }else if(hash == "#delYuyue"){
                    $('.m_change_exh').show();
                    navName1.text("预约管理");
                    navName2.text("客户预约删除");
                }else if(hash == "#watchHuiyuan"){
                    $('.m_change_exh').show();
                    navName1.text("会员管理");
                    navName2.text("会员列表查看");
                }else if(hash == "#changeHuiyuan"){
                    $('.m_change_exh').show();
                    navName1.text("会员管理");
                    navName2.text("会员信息修改");
                }
            }
            if(window.location.hash) {
                hashChange();
            }else {
                $('.m_add_exh').show();
            }
            window.onhashchange = function(){
                hashChange();
            }
        })
    });
</script>
<%-include ./layout/footer.html%>