<%-include ./layout/homeheader.html%>
<link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css">
<main class="g-body g-detail-page">
    <div class="m_nav">
        <ol class="breadcrumb">
            <li><a href="http://localhost:3000/">首页</a></li>
            <li><a href="/home">列表页</a></li>
            <li class="active"><%=commodity.name%></li>
        </ol>
    </div>
    <div class="m_detail">
        <div class="u_top clearfix">
            <div class="fl u_img">
                <img src="image/exhibition/<%=commodity.imgSrc%>" alt="<%=commodity.name%>">
            </div>
            <div class="fl u_content">
                <h1><%=commodity.name%></h1>
                <p class="price">参观价格：<span class="text-danger"><%=commodity.price%>元/人</span></p>
                <p class="phone">客服电话：<span class="text-danger"><%=commodity.phone%></span></p>
                <p class="address">展厅地址：<span class="text-danger"><%=commodity.address%></span></p>
                <p class="sumNum">容纳人数：<span class="text-danger"><%=commodity.sumNum%></span></p>
                <% if(user){ %>
                    <a class="yuyue_btn" href="javascript:;">预约</a>
                <% }else{ %>
                    <a class="yuyue_btn" href="javascript:;" onclick="alert('请登录后预约');$('#loginBtn').trigger('click')">预约参观</a>
                <% } %>
            </div>
        </div>
        <% if(user){ %>
        <div class="m_yuyue_form displayNone">
            <h3>填写预约信息</h3>
            <div class="clearfix">
                <form class="u_yuyue_form fl">
                    <div class="form-group">
                        <label for="userDate">预约日期</label>
                        <input type="text" id="datetimepicker" class="form-control" id="userDate" placeholder="选择参馆时间">
                    </div>
                    <div class="form-group">
                        <label for="userName">姓名</label>
                        <input type="text" class="form-control" id="userName" placeholder="您的姓名">
                    </div>
                    <div class="form-group">
                        <label for="userPhone">手机号</label>
                        <input type="text" class="form-control" id="userPhone" value="<%=user.name%>">
                    </div>
                    <div class="form-group">
                        <label for="userQuantity">人数</label>
                        <input type="number" class="form-control" id="userQuantity" placeholder="预约门票张数">
                    </div>
                    <div class="form-group">
                        <label for="userMsg">留言</label>
                        <textarea class="form-control" id="userMsg" rows="3"></textarea>
                    </div>
                    <button type="button" id="yuyueSumit" onclick="location.href='/addToCart/<%=commodity._id%>'" class="btn btn-success col-md-4 col-lg-offset-4">提交</button>
                </form>
            </div>
        </div>
        <% } %>
        <div class="u_bottom">
            <h3>展馆详情</h3>
            <p><%=commodity.detail%></p>
        </div>
    </div>
</main>
<script>
    require(['/js/common.js'],function(common) {
        require(['jquery'],function($){
            require(['jquery.datetimepicker'], function (datetimepicker) {
                $('#datetimepicker').datetimepicker({
                    lang: 'ch',
                    format:"Y-m-d",
                    timepicker:false,
                    earStart:2015,     //设置最小年份
                    yearEnd:2050
                });
                $('.yuyue_btn').click(function () {
                    $('.m_yuyue_form').removeClass('displayNone');
                    $('body').animate({scrollTop:500},300)
                });
                $('#yuyueSumit').click(function () {
                    var uName = $('#userName').val();
                    var cQuantity = $('#userQuantity').val();
                    var cUseTime = $('#datetimepicker').val();
                    var uMsg = $('#userMsg').val();
                    var imgStr = $('.u_top .u_img img').attr('src');
                    var imgSrc = imgStr.substr(imgStr.indexOf('e',10));
                    console.log(imgSrc);
                    var addPeople = $('#addPeople').val();
                    var detail = $('#addDetail').val();
                    var addType = $('#addType').val();
                    if(name&&price&&imgSrc&&detail&&addPhone&&addPeople){
                        $.ajax({
                            url:'/addcommodity',
                            type:'post',
                            data:{
                                "name": name,
                                "price": price,
                                "phone": addPhone,
                                "address": addAddress,
                                "imgSrc": imgSrc,
                                "sumNum":addPeople,
                                "detail":detail,
                                "type":addType,
                                "status":"true"
                            },
                            success:function(data,status){
                                if(status == 'success'){
                                    alert("添加成功");
                                    window.location.reload();
                                }
                            },
                            error: function (data,status) {
                                alert('error');
                            }
                        })
                    }else {
                        alert('请完善展厅信息后再添加');
                    }
                });
            })
        })
    })
</script>
<%-include ./layout/footer.html%>