<%-include ./layout/homeheader.html%>
<link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css">
<main class="g-body g-detail-page">
    <div class="m_nav">
        <ol class="breadcrumb">
            <li><a href="http://localhost:3000/">首页</a></li>
            <li><a href="/home">列表页</a></li>
            <li class="active"><%=commodity.name%></li>
        </ol>
    </div>
    <div class="m_detail">
        <div class="u_top clearfix">
            <div class="fl u_img">
                <img src="image/exhibition/<%=commodity.imgSrc%>" alt="<%=commodity.name%>">
            </div>
            <div class="fl u_content">
                <h1 id="cName"><%=commodity.name%></h1>
                <p class="price">参观价格：<span class="text-danger"><%=commodity.price%>元/人</span></p>
                <p class="phone">客服电话：<span class="text-danger"><%=commodity.phone%></span></p>
                <p class="address">展厅地址：<span class="text-danger"><%=commodity.address%></span></p>
                <p class="sumNum">容纳人数：<span class="text-danger"><%=commodity.sumNum%></span></p>
                <% if(user){ %>
                    <a class="yuyue_btn" href="javascript:;">预约参观</a>
                <% }else{ %>
                    <a class="yuyue_btn" href="javascript:;" onclick="alert('请登录后预约');$('#loginBtn').trigger('click')">预约参观</a>
                <% } %>
            </div>
        </div>
        <% if(user){ %>
        <div class="m_yuyue_form displayNone">
            <h3>填写预约信息</h3>
            <div class="clearfix">
                <form class="u_yuyue_form fl">
                    <div class="form-group">
                        <label for="userDate">预约日期</label>
                        <input type="text" id="datetimepicker" class="form-control" id="userDate" placeholder="选择参馆时间">
                    </div>
                    <div class="form-group">
                        <label for="userName">姓名</label>
                        <input type="text" class="form-control" id="userName" placeholder="您的姓名">
                    </div>
                    <div class="form-group">
                        <label for="userPhone">手机号</label>
                        <input type="text" class="form-control" id="userPhone" value="<%=user.name%>">
                    </div>
                    <div class="form-group">
                        <label for="userQuantity" id="userQuantityLabel">人数</label>
                        <input type="text" class="form-control" id="userQuantity" placeholder="预约门票张数">
                    </div>
                    <div class="form-group">
                        <label for="userMsg">留言</label>
                        <textarea class="form-control" id="userMsg" rows="3"></textarea>
                    </div>
                    <button type="button" id="yuyueSumit" onclick="location.href='/addToCart/<%=commodity._id%>'" class="btn btn-success col-md-4 col-lg-offset-4">提交</button>
                </form>
            </div>
        </div>
        <% } %>
        <div class="u_bottom">
            <h3>展馆详情</h3>
            <p><%=commodity.detail%></p>
            <h3>注意事项</h3>
            <ol class="kills text-danger" style="font-size: 18px">
                <li>如预约日期为一周内自动确认，如预约参观日期大于一周需在离参观日期一周内到<a href="/userCenter">个人中心</a>确认</li>
            </ol>
        </div>
    </div>
</main>
<script>
    require(['/js/common.js'],function(common) {
        require(['jquery','moment'],function($,moment){
            require(['jquery.datetimepicker'], function (datetimepicker) {
                //选择日期
                $('#datetimepicker').datetimepicker({
                    lang: 'ch',
                    format:"Y-m-d",
                    timepicker:false,
                    earStart:2015,     //设置最小年份
                    yearEnd:2050
                });
                //选择日期后显示该展厅剩余席位
                $("#datetimepicker").blur(function () {
                    var cId = "<%=commodity._id%>";
                    var cUseTime = $('#datetimepicker').val();
                    console.log(cUseTime)
                    $.ajax({
                        url:'/getRemainSeat',
                        type:'post',
                        data:{
                            "cId": cId,
                            "cUseTime": cUseTime
                        },
                        success:function(data,status){
                            if(status == 'success'){
                                if(typeof data.remainSeat[0].existNum == 'undefined'){
                                    var existNum = data.remainSeat[0].sumNum;
                                }else{
                                    var existNum = data.remainSeat[0].existNum;
                                }
                                window.existNum = existNum;
                                $('#userQuantityLabel').text("人数(仅剩"+existNum+"个席位)");
                            }
                        },
                        error: function (data,status) {
                            console.log(err);
                        }
                    })
                })
                //预约按钮
                $('.yuyue_btn').click(function () {
                    $('.m_yuyue_form').removeClass('displayNone');
                    $('body').animate({scrollTop:500},300)
                });
                //日期相减-->days
                function  DateDiff(sDate1,  sDate2){    //sDate1和sDate2是2002-12-18格式
                    var  aDate,  oDate1,  oDate2,  iDays;
                    aDate  =  sDate1.split("-");
                    oDate1  =  new  Date(aDate[1]  +  '-'  +  aDate[2]  +  '-'  +  aDate[0]);    //转换为12-18-2002格式
                    aDate  =  sDate2.split("-");
                    oDate2  =  new  Date(aDate[1]  +  '-'  +  aDate[2]  +  '-'  +  aDate[0]);
                    iDays  =  parseInt((oDate1  -  oDate2)  /  1000  /  60  /  60  /24);    //把相差的毫秒数转换为天数
                    return  iDays
                }
                //提交预约表单
                $('#yuyueSumit').click(function () {
                    var uName = $('#userName').val();
                    var uPhone = $('#userPhone').val();
                    var cUseTime = $('#datetimepicker').val();
                    var uMsg = $('#userMsg').val();
                    var uQuantity = $('#userQuantity').val();
                    var cSumbitTime = moment().format("YYYY-MM-DD");
                    var cStatus;
                    var dateDiff = DateDiff(cUseTime,cSumbitTime);
                    if(dateDiff<0){
                        alert("请重新选择日期");
                    }else {
                        dateDiff<=7?cStatus="true":cStatus="false";
                        if(uName&&uPhone&&cUseTime&&uMsg&&uQuantity){
                            if(uQuantity>0&&uQuantity<existNum){
                                $.ajax({
                                    url:'/addToCart/<%=commodity._id%>',
                                    type:'get',
                                    data:{
                                        "uName": uName,
                                        "uPhone": uPhone,
                                        "cUseTime": cUseTime,
                                        "cUseTime1":cUseTime.replace(/-/g,"/"),
                                        "uMsg": uMsg,
                                        "uQuantity": uQuantity,
                                        "cSumbitTime":cSumbitTime,
                                        "cStatus":cStatus
                                    },
                                    success:function(data,status){
                                        if(status == 'success'){
                                            alert("预约成功");
                                            window.location.reload();
                                        }
                                    },
                                    error: function (data,status) {
                                        alert('error');
                                    }
                                })
                            }else {
                                alert("请输入合适的人数")
                            }
                        }else {
                            alert('请完善展厅信息后再添加');
                        }
                    }
                });
            })
        })
    })
</script>
<%-include ./layout/footer.html%>