<%-include ./layout/homeheader.html%>
<main class="g-body g-home-page">
    <nav class="m_exh_nav">
        <div class="u_nav clearfix">
            <p class="fl">展厅类型：</p>
            <ul class="type clearfix fl">
                <li>全部</li>
                <li>科研类</li>
                <li>艺术类</li>
                <li>体育类</li>
                <li>其他类</li>
            </ul>
        </div>
        <div class="u_nav clearfix">
            <p class="fl">所属地区：</p>
            <ul class="address clearfix fl">
                <li>全部</li>
                <li>徐州市</li>
                <li>南京市</li>
                <li>无锡市</li>
                <li>镇江市</li>
                <li>扬州市</li>
                <li>南通市</li>
                <li>连云港</li>
                <li>盐城市</li>
                <li>宿迁市</li>
                <li>苏州市</li>
                <li>淮安市</li>
                <li>常州市</li>
                <li>泰州市</li>
            </ul>
        </div>
    </nav>
    <div class="m_exh_box">
        <div class="u_exh_else clearfix">
            <% Commoditys.forEach(function(item,index){ %>
            <% if(item.status){ %>
              <div class="u_exh_list" onclick="location.href='/exh_detail?uid=<%=item._id%>'">
                  <div class="fl exh_img">
                      <img src="../image/exhibition/<%=item.imgSrc %>" alt="<%=item.name %>">
                      <p><%=item.name %></p>
                  </div>
              </div>
            <% }}) %>
        </div>
    </div>
</main>
<script>
    require(['/js/common.js'],function(common){
        require(['jquery'], function ($) {
            var url = '/home/';
            $(document).ready(function () {
                var type,address;
                if(location.search && location.search.match('type')) {
                    type = location.search.substr(1).split("&")[0].split("=")[1];
                    address = location.search.substr(1).split("&")[1].split("=")[1];
                    var type0 = decodeURIComponent(type);
                    var address0 = decodeURIComponent(address);
                    if(type != 'undefined'){
                       $(".type li:contains('"+ type0 +"')").addClass('on')
                               .siblings().removeClass('on');
                    }else {
                        $(".type li:contains('全部')").addClass('on')
                                .siblings().removeClass('on');
                    }
                    if(address != 'undefined'){
                        $(".address li:contains('"+ address0 +"')").addClass('on')
                                .siblings().removeClass('on');
                    }else {
                        $(".address li:contains('全部')").addClass('on')
                                .siblings().removeClass('on');
                    }
                }else {
                    $("li:contains('全部')").addClass('on')
                            .siblings().removeClass('on');
                }
                function get() {
                    url+="&type="+type;
                    url+="&address="+address;
                    location.href = url.replace("&","?")
                }
                $('.type li').click(function () {
                    type = $(this).text();
                    get();
                });
                $('.address li').click(function () {
                    address = $(this).text();
                    get();
                });
                if(!$('.u_exh_else .u_exh_list').length){
                    var html = '<h2 style="text-align: center">没有查到结果</h2>'
                    $('.u_exh_else').append(html);
                }
            })
        });
    });
</script>
<%-include ./layout/footer.html%>