<%-include ./layout/homeheader.html%>
<% if (success) { %>
<div class="displayNone" id="successAlert"><%= success %></div>
<% } %>
<% if (error) { %>
<div class="displayNone" id="errorAlert"><%= error %> </div>
<% } %>
<div class="g-body index_page clearfix">
    <div class="m_banner">
        <ul class="u_pics">
            <li style="display: block;z-index: 10"><a href="#" style="background-image:url(../image/ex_banner_01.jpg)"></a></li>
            <li><a href="#" style="background-image:url(../image/ex_banner_02.jpg)"></a></li>
            <li><a href="#" style="background-image:url(../image/ex_banner_03.jpg)"></a></li>
        </ul>
        <ul class="u_btns">
            <li class="active"></li>
            <li class=""></li>
            <li class=""></li>
        </ul>
    </div>
    <div class="m_exh_box">
        <div class="u_exh_top clearfix">
            <div class="fl exh_img">
                <img src="../image/exhibition/<%= Commoditys[0].imgSrc %>" alt="<% Commoditys[0].name %>">
            </div>
            <div class="fl exh_content">
                <h5><% Commoditys[0].name %></h5>
                <p>
                    为了体现国誉的高度和深度，我们在意志力不断积累的过程中准备好时刻面对持续的挑战，国誉立志于创造在中国的行业潮流，实现全球化标准，向未来跃进。
                    国誉在满足人类舒适感的同时，赋予其干练，时尚的造型。根据“层”的设计概念，空间设计上大量使用了高低差的表现手法。
                    其目的是亲身体验空间赋予的舒适感的同时也能通过产品的展示及参与各种展厅活动，不断发现国誉多元化的新视点，对国誉更多一份了解。
                    此外，在室内设计的手法上，采用了一些很受上海大都市人所喜爱，表面粗糙却又能体现出中国元素的材质。将现代艺术与时尚巧妙结合，尽享全新舒适体验。
                    此外，在室内设计的手法上，采用了一些很受上海大都市人所喜爱，表面粗糙却又能体现出中国元素的材质。将现代艺术与时尚巧妙结合，尽享全新舒适体验。
                </p>
            </div>
        </div>
        <div class="u_exh_else clearfix">
            <% Commoditys.forEach(function(item,index){ %>
                <% if(index>=1&&item.status==true){ %>
                <div class="u_exh_list">
                    <div class="fl exh_img">
                        <a href="/exh_detail?uid=<%=item.id%>">
                           <img src="../image/exhibition/<%=item.imgSrc%>" alt="<%=item.name%>">
                        </a>
                        <p><%=item.name%></p>
                    </div>
                </div>
                <% } %>
            <% }) %>
        </div>
    </div>
</div>
<script>
    require(['/js/common.js'],function(common) {
        require(['jquery'], function ($) {
            $(function(){
                var li_len=$(".u_pics li").length;
                function move(){
                    var i=0;
                    function change(index){    //定义图片变化函数
                        $(".u_pics li").eq(index).css("zIndex",10).siblings().css("zIndex",1);
                        $(".u_pics li").eq(index).fadeIn(0);
                        $(".u_btns li").eq(index).addClass("active").siblings().removeClass();
                    }
                    timer=setInterval(function(){　// 设置定时器
                        i++;
                        if(i==li_len){
                            i=0;
                        }
                        change(i);   // 3秒执行函数 change
                    },3000);

                    $(".u_btns li").click(function(){    //点击下面的焦点，控制函数运行
                        var iNow=$(".u_btns li").index(this);
                        i=iNow;  // 令当前点击焦点的索引值赋给 i
                        change(i);
                        return false;  // 阻止a标签的默认行为
                    })

                    $(".u_pics li,.u_btns li").hover(function(){clearInterval(timer)},function(){   // 设置鼠标移入移出事件，移入清除定时器，移除继续执行timer
                        timer=setInterval(function(){
                            i++;
                            if(i==li_len){
                                i=0;
                            }
                            change(i);
                        },3000)
                    })
                }
                move();   // 最后调用整个函数
            })
        });
    });
</script>
<%-include ./layout/footer.html%>