<%-include ./layout/homeheader.html%>
<% if (success) { %>
<div class="displayNone" id="successAlert"><%= success %></div>
<% } %>
<% if (error) { %>
<div class="displayNone" id="errorAlert"><%= error %> </div>
<% } %>
<div class="g-body index_page clearfix">
    <div class="m_banner">
        <ul class="u_pics">
            <li style="display: block;z-index: 10"><a href="#" style="background-image:url(../image/ex_banner_01.jpg)"></a></li>
            <li><a href="#" style="background-image:url(../image/ex_banner_02.jpg)"></a></li>
            <li><a href="#" style="background-image:url(../image/ex_banner_03.jpg)"></a></li>
        </ul>
        <ul class="u_btns">
            <li class="active"></li>
            <li class=""></li>
            <li class=""></li>
        </ul>
    </div>
</div>
<script>
    require(['/js/common.js'],function(common) {
        require(['jquery'], function ($) {
            $(function(){
                var li_len=$(".u_pics li").length;
                function move(){
                    var i=0;
                    function change(index){    //定义图片变化函数
                        $(".u_pics li").eq(index).css("zIndex",10).siblings().css("zIndex",1);
                        $(".u_pics li").eq(index).fadeIn(0);
                        $(".u_btns li").eq(index).addClass("active").siblings().removeClass();
                    }
                    timer=setInterval(function(){　// 设置定时器
                        i++;
                        if(i==li_len){
                            i=0;
                        }
                        change(i);   // 3秒执行函数 change
                    },3000);

                    $(".u_btns li").click(function(){    //点击下面的焦点，控制函数运行
                        var iNow=$(".u_btns li").index(this);
                        i=iNow;  // 令当前点击焦点的索引值赋给 i
                        change(i);
                        return false;  // 阻止a标签的默认行为
                    })

                    $(".u_pics li,.u_btns li").hover(function(){clearInterval(timer)},function(){   // 设置鼠标移入移出事件，移入清除定时器，移除继续执行timer
                        timer=setInterval(function(){
                            i++;
                            if(i==li_len){
                                i=0;
                            }
                            change(i);
                        },3000)
                    })
                }
                move();   // 最后调用整个函数
            })
        });
    });
</script>
<%-include ./layout/footer.html%>
