<%-include ./layout/homeheader.html%>
<style>
    .setting_page{
        width: 100vh;
        height: 100vh;
        margin: 200px auto;
        text-align: center;
    }
    .setting_page input{
        width: 327px;
        height: 44px;
        padding-left: 20px;
    }
    .setting_page button{
        width: 200px;
        height: 40px;
        margin-top: 30px;
        margin-left: 54px;
    }
</style>
<div class="setting_page">
    <p>您好：<span id="name"><%=user.name%></span></p>
    <input id="password" type="password" placeholder="新密码">
    <input id="password_re" type="password" placeholder="重复密码">
    <button type="button" id="changePwd" class="bg-info">修改</button>
</div>
<script>
    require(['/js/common.js'],function(common){
        require(['jquery'], function ($) {
            $('#changePwd').click(function(){
                var name = $('#name').text();
                var password = $('#password').val();
                var password_re = $('#password_re').val();
                $.ajax({
                    url:'/cpwd',
                    type:'post',
                    data:{name:name,password:password},
                    success:function(data,status){
                        if(status == 'success'){
                            location.href='/'
                        }else {
                            alert("err")
                        }
                    },
                    error:function(data,status){
                        alert('错误')
                    }
                })
            })
        })
    });
</script>
<%-include ./layout/footer.html%>