<%-include ./layout/homeheader.html%>
<link rel="stylesheet" href="css/admin.css">
<main class="g-body clearfix">
    <aside class="m_left_nav fl">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">Main Menu</li>
                <li class="treeview">
                    <a class="cursor"><span>预约管理</span></a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="#myOrder">-->我的预约</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a class="cursor"><span>信息管理</span></a>
                    <ul class="treeview-menu">
                        <li><a href="#changeInfo"> -->个人信息修改</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a class="cursor"><span>账号登出</span></a>
                    <ul class="treeview-menu">
                        <li><a href="/logout"> -->注销</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="m_main_form fl">
        <div class="main_module m_my_order">
            <ol class="breadcrumb">
                <li>预约管理</li>
                <li>我的预约</li>
            </ol>
            <% if(carts.length){ %>
            <table class="table table-bordered table-hover definewidth m10">
                <thead class="bg-success">
                <tr>
                    <th class="text-center">参观者姓名</th>
                    <th class="text-center">预留电话</th>
                    <th class="text-center">预约展厅名</th>
                    <th class="text-center">共预约人数</th>
                    <th class="text-center">门票总价</th>
                    <th class="text-center">参观时间</th>
                    <th class="text-center">备注</th>
                    <th class="text-center">一周预约确认</th>
                    <th class="text-center">管理操作</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i in carts){ %>
                <tr class="text-center u_do">
                    <td class="uName"><%=carts[i].uName%></td>
                    <td class="uPhone"><%=carts[i].uPhone%></td>
                    <td class="cName"><%=carts[i].cName%></td>
                    <td class="cQuantity"><%=carts[i].cQuantity%></td>
                    <td class="cPrice"><%=carts[i].cPrice%></td>
                    <td class="cUseTime"><%=carts[i].cUseTime_string%></td>
                    <td class="uMsg overFlowHide"><%=carts[i].uMsg%></td>
                    <% var cStatus = carts[i].cStatus?'已确认': carts[i].cStatus; %>
                    <% if(cStatus){ %>
                    <td class="cStatus"><%=cStatus%></td>
                    <% }else{ %>
                    <td class="cStatus"><span class="cartQue">点击确认</span></td>
                    <% } %>
                    <td class="dateIndex" data-index="<%=carts[i]._id%>">
                        <span class="changeCart">修改</span>
                        <span class="delCart">取消</span>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <% }else{ %>
            <h2 style="display: inline;margin-right: 20px">暂无预约订单</h2>
            <a style="font-size: 20px" href="/home">去预约</a>
            <% } %>
        </div>
        <div class="main_modu le m_changeOrder">
        </div>
    </div>
    <div class="allScreen displayNone" id="changeCartInfo">
        <div class="g_recommend_popup animated bounceInDown">
            <div class="u_close_btn"></div>
            <form class="m_recommend_form clearfix">
                <div class="form_inner">
                    <h5 class="text-center" style="margin-top: -20px;" id="cartTitle"></h5>
                    <div class="row">
                        <label class="row_label" for="changePhone">预留电话</label>
                        <input name="changePhone" id="changePhone" type="tel" value="">
                    </div>
                    <div class="row">
                        <label class="row_label" for="changeNum">预约人数</label>
                        <input name="changeNum" id="changeNum" type="text" value="">
                    </div>
                    <div class="row">
                        <label class="row_label" for="changeUseTime">参观时间</label>
                        <input name="changeUseTime" id="changeUseTime" type="text" value="">
                    </div>
                    <div class="row">
                        <label class="row_label" for="changeCartDetail">备注</label>
                        <textarea class="exh_detail" name="changeCartDetail" id="changeCartDetail" ></textarea>
                    </div>
                </div>
                <button type="button" style="margin-top: 55px" id="changeCartSubmit" class="u_submit btn-success">提交</button>
            </form>
        </div>
    </div>
</main>
</main>
<script src="js/userCenter.js"></script>
<%-include ./layout/footer.html%>