<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>江苏展览馆_在线展览馆预约</title>
    <meta name="keywords" content="江苏省展览馆，展览馆预约。快捷预约，实时确认。首家专业的展览馆预约服务"  />
    <meta name="description" content="江苏展览馆jszlg.com,专业的在线展览馆预约。快捷预约不罗嗦，预约人数日期任你选。" />
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/animate.min.css">
    <script src="../js/require.min.js"></script>
</head>
<body>
<header class="g-header">
    <div class="m-center">
        <a class="u-logo" href="/" alt="江苏展览馆">
            <img src="../image/logo.png" alt="江苏展览馆">
        </a>
        <nav class="u-nav">
            <ul class="menu list-inline">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/home">展厅预约</a>
                </li>
                <li>
                    <% if(user){ %>
                    <a href="/userCenter">我的预约</a>
                    <% }else{ %>
                    <a href="javascript:;" onclick="alert('请登录后查看');$('#loginBtn').trigger('click')">我的预约</a>
                    <% } %>
                </li>
                <li>
                    <a href="/contactus">联系我们</a>
                </li>
            </ul>
        </nav>
        <div class="u-search right">
            <form class="search-form clearfix">
                <input class="search-submit">
                <input class="search-text" type="text" placeholder="Search...">
                <span class="cursor">搜索</span>
            </form>
        </div>
    </div>
    <div class="m-login clearfix">
    <% if(user){ %>
        <button onclick="location.href='/userCenter'" class="u-center">用户名：<%=user.name%> 丨 个人中心</button>
    <%}else{%>
        <div class="login-before">
            <button class="u-signup" id="loginBtn" data-type="user">登录</button>
            <button class="u-signup" id="regBtn">注册</button>
        </div>
    <%}%>
    </div>
</header>
<div class="allScreen displayNone" id="signup">
    <div class="g_recommend_popup animated bounceInDown">
        <div class="u_close_btn"></div>
        <form class="m_recommend_form clearfix">
            <div class="form_inner">
                <p class="title">登录</p>
                <img class="login-img" id="login-img" src="../image/username.gif">
                <div class="row">
                    <label class="row_label" for="loginTel">手机号</label>
                    <input name="loginTel" id="loginTel" class="m_tel" type="text" placeholder="输入您的手机号">
                </div>
                <div class="row">
                    <label class="row_label" for="loginPwd">密码</label>
                    <input name="loginPwd" id="loginPwd" class="m_password" type="password" placeholder="输入您的密码">
                </div>
                <div class="row">
                    <label class="row_label" for="u_code">验证码</label>
                    <input name="loginCode" id="u_code" type="text" class="contactMobile" placeholder="输入验证码">
                    <img src="/capt/1" class="u_code" onclick="javascript:this.src='/capt/'+Math.random()" alt="验证码">
                </div>
            </div>
            <button type="button" id="loginSubmit" class="u_submit btn-success">提交</button>
            <div class="text-center" style="margin-top: 10px">
                <a href="javascript:;" style="margin: 0 15px" class="login_to_reg">没有账号？</a>
                <a href="/forget">密码忘记了？</a>
            </div>
        </form>
    </div>
</div>
<div class="allScreen displayNone" id="register">
    <div class="g_recommend_popup register_pop animated bounceInDown">
        <div class="u_close_btn"></div>
        <form class="m_recommend_form clearfix" id="register-form" method="post" onsubmit="return false">
            <div class="form_inner">
                <p class="title">注册</p>
                <img class="login-img" src="../image/username.gif">
                <div class="row">
                    <label class="row_label" for="regTel">手机号</label>
                    <input name="regTel" class="m_tel" id="regTel" type="text" placeholder="输入您的手机号">
                </div>
                <div class="row">
                    <label class="row_label" for="regPwd">密码</label>
                    <input name="regPwd" class="m_password" id="regPwd" type="password" placeholder="输入您的密码">
                </div>
                <div class="row">
                    <label class="row_label" for="regPwdRe">重复密码</label>
                    <input name="regPwdRe" type="password" class="m_password_re" id="regPwdRe" placeholder="再次输入密码">
                </div>
                <div class="row">
                    <label class="row_label" for="regEmail">邮箱</label>
                    <input name="regEmail" type="email" class="email" id="regEmail" placeholder="输入您的邮箱方便找回密码">
                </div>
            </div>
            <button type="button" id="regSubmit" class="u_submit btn-success">提交</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    require(['/js/common.js'],function(common){
        require(['jquery','validate','validate-methods'], function ($,validate,validate_methods) {
            $('document').ready(function(){
/*=============搜索=============*/
                var searchForm = $('.search-form');
                searchForm.bind('click',function(){
                    $(this).toggleClass('focus');
                });
                $('.search-text').bind('click', function (e) {
                    e.stopPropagation();
                })
/*=============返回顶部===========*/
                var back2top = $('aside .back2top');
                $(window).scroll(function(){
                    $(window).scrollTop() > 150?back2top.addClass('scrolled'):back2top.removeClass('scrolled');
                });
                back2top.click(function () {
                    $('body').animate({scrollTop:0},300)
                });

/*=============登录注册===========*/
                $('#loginPwd,#regPwd,#regPwdRe').focus(function(){
                    $('.login-img').attr('src','../image/password.gif')
                }).blur(function(){
                    $('.login-img').attr('src','../image/username.gif')
                   }
                );
                $('.login_to_reg').click(function(){
                    $('#signup').addClass('displayNone');
                    $('#register').removeClass('displayNone');
                })
                //注册表单验证
                var regAjax = (function() {
                    $('#regSubmit').click(function () {
                        var name = $('#regTel').val(),
                                password = $('#regPwd').val(),
                                email = $('#regEmail').val();
                        console.log($('#register-form input.valid').length);
                        if($('#register-form input.valid').length == 4) {
                            $.ajax({
                                url: '/register',
                                type: 'post',
                                data: {"uname": name, "upwd": password, "uemail": email,"admin":false},
                                success: function (data, status) {
                                    if (status == 'success') {
                                        alert("注册成功");
                                        window.location.reload();
                                    }
                                },
                                error: function (data, err) {
                                    alert(data.responseText);
                                }
                            })
                        }else {
                            alert('请完善注册信息')
                        }
                    });
                }());
                $("#register-form").validate({
                    rules: {
                        regTel: {
                            required:true,
                            isMobile:true
                        },
                        regPwd: {
                            required:true,
                            rangelength:[6,16]
                        },
                        regPwdRe:{
                            required:true,
                            equalTo:"#regPwd"
                        },
                        regEmail: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        regTel:"请输入正确的手机号哦",
                        regPwd: "密码为6到16位",
                        regPwdRe:"两次密码输入不一致",
                        regEmail: "请输入正确的邮箱，方便您找回密码"
                    },
                    submitHandler: function(form) {},
                    success: regAjax
                });

                $('#loginBtn').bind('click', function () {
                    var postUrl;
                    var loginType = $(this).attr("data-type");
                    loginType == "user"? postUrl ='/login':postUrl = '/adminLogin';
                    $('#signup').removeClass('displayNone');
                    //ajax->后台
                    $('#loginSubmit').click(function(){
                        var name = $('#loginTel').val(),
                            password = $('#loginPwd').val(),
                            code = $('#u_code').val();
                        function loginCallback(){
                           if(loginType == 'user'){
//                               $('#signup').addClass('displayNone');
//                               $('.login-before').remove();
//                               var htmlAfter = "<button onclick=\"location.href='/userCenter'\" class='u-center'>用户名："
//                                       + name + " 丨 个人中心</button>";
//                               $('.m-login').append(htmlAfter);
                               window.location.reload();
                           }else {
                               location.href = '/admin';
                           }
                        }
                        $.ajax({
                            url:postUrl,
                            type:'post',
                            data:{"uname":name,"upwd":password,"code":code},
                            success:function(data,status){
                                if(status == 'success'){
                                    loginCallback();
                                }
                            },
                            error:function(data,err){
                                alert(data.responseText);
                            }
                        })
                    });
                });
                $('.u_close_btn').bind('click', function () {
                    $('#signup,#register').addClass('displayNone');
                    $('form input').val("");
                    $('form').find("label.error").remove();
                    $('#loginSubmit').unbind('click');
                });
                $('#regBtn').bind('click', function () {
                    $('#register').removeClass('displayNone');
                });

/*=============搜索===========*/
                $('.search-text').bind('change', function () {
                    var searchText = $(this).val().trim();
                    $.ajax({
                        url:'/home',
                        type:'get',
                        data:{searchText:searchText},
                        success:function(data,status){
                            if(status == 'success'){
                                location.href = '/home?searchText='+searchText;
                            }
                        },
                        error:function(data,status){
                            alert('错误')
                        }
                    })
                })
        });
        });
    });
</script>
