    <div class="footer-top clear">
        <div class="w_1080 m_cent">
            <div class="footer-nav fl">
                <ul>
                    <li><a href="http://www.sciclubs.com/index/contact?#ruzhu">仪器入驻</a><span> | </span></li>
                    <li><a href="http://www.sciclubs.com/index/contact?#fankui">用户反馈</a><span> | </span></li>
                    <li><a href="http://www.sciclubs.com/index/about?id=1">公司介绍</a><span> | </span></li>
                    <li><a href="http://www.sciclubs.com/index/about?id=2">服务承诺</a><span> | </span></li>
                    <li><a href="http://www.sciclubs.com/index/about?id=3">用户协议</a><span> | </span></li>
                    <li><a href="http://www.sciclubs.com/index/about?id=4">精英招聘</a></li>
                </ul>
                <p>杭州研趣科技有限责任公司     浙ICP备15010793号-1  互联网经营许可证编号：浙-18972463号   服务热线：<strong>0571-56014982</strong>(周一至周五9:00—17:30)</p>
            </div>
            <div class="footer-watch fr">
                <p><img src="http://www.sciclubs.com/assets/images/img34.jpg" style="width:82px;height:82px;"></p>
            </div>
        </div>
    </div>
</body>
</html>