/*common start*/
body {
  font: 14px "Lucida Grande", Microsoft Yahei, Arial, sans-serif;
  background-color: #f5f5f5;
}
.cursor{
  cursor: pointer;
}
//滚轴
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d7d4d4;
  border-radius: 4px;
}

::-moz-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-moz-scrollbar-thumb {
  background-color: #666666;
  border-radius: 4px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .3s linear;
}
button,input{
  border: 0;
  outline: 0;
}
ul,li{
  list-style: none;
}
.fl{
  float: left;
  display: inline-block;
}
.fr{
  float: right;
  display: inline-block;
}
input{
  border: 1px solid #e8e8e8;
}
a {
  color: #00B7FF;
}
/*验证form*/
input.error {color:red;}
input.valid {color:green}

.displayNone{
  display: none;
}
.allScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0,0,0,0.6);
}

//home page
.g-home-page{
  .m_banner{
    width: 100%;
    height: 420px;
  }
  .m_exh_box{
    width: 1200px;
    margin: 30px auto;
    .u_exh_else{
      margin-top: 40px;
      .u_exh_list{
        float: left;
        width: 600px;
        margin-bottom: 30px;
        .exh_img{
          position: relative;
          overflow: hidden;
          &:hover img{
            transform: scale(1.2);
            z-index: 10;
            transition: 1s;
          }
          img{
            width: 580px;
            height: 310px;
            cursor: pointer;
          }
          p{
            width: 100%;
            height: 40px;
            line-height: 40px;
            position: absolute;
            bottom: 0;
            background-color: rgba(255,255,255,0.8);
            margin: 0;
            padding-left: 41px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
//detail page
.g-detail-page{
  .m_nav{
    width: 1200px;
    margin: 30px auto 0;
  }
  .m_detail{
    width: 1160px;
    margin: 0 auto 60px;
    background-color: #fff;
    padding: 30px;
  }
  .u_img{
    width: 578px;
    overflow: hidden;
    height: 366px;
    margin-right:30px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .u_content{
    p{
      font-size: 16px;
      line-height: 28px;
    }
    .yuyue_btn{
      background-color: #46b855;
      padding: 10px 20px;
      color: #fff;
      display: block;
      text-align: center;
      margin-top: 49px;
      width: 160px;
      margin-left: 45px;
      &:hover{
        text-decoration: none;
        color: #fff;
        background-color: #00AA00;
      }
      &:focus{
        text-decoration: none;
      }
    }
  }
  .u_bottom{
    margin-top: 30px;
  }
}
.g_recommend_popup {
  width: 648px;
  height: 444px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 15%;
  margin-left: -324px;
  .u_close_btn {
    width: 35px;
    height: 36px;
    position: absolute;
    right: -46px;
    cursor: pointer;
    background: url("../image/close_bt.png") no-repeat;
  }
  .m_recommend_form {
    width: 422px;
    height: 350px;
    margin: 0 auto;
    padding-top: 45px;
    .u_submit {
      width: 318px;
      height: 56px;
      font-size: 18px;
      margin-left: 61px;
      margin-top: 40px;
    }
    .form_inner {
      .title {
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }
      .login-img{
        position: absolute;
        left: 260px;
        top: 20px;
      }
      .row {
        width: 441px;
        height: 69px;
        line-height: 69px;
        position: relative;
        .u_code {
          position: absolute;
          right: 21px;
          top: 8px;
          padding: 1px;
          background-color: rgba(96, 216, 142, 0.63);
        }
      }
      .row_label{
        width: 65px;
        text-align: right;
        font-size: 15px;
      }
      label.error{
        position: absolute;
        right: 20px;
        bottom: -39px;
        height: 70px;
        color: #FF0808;
      }
      input {
        width: 352px;
        height: 53px;
        line-height: 53px;
        font-size: 16px;
        outline: 0;
        border: 1px solid #e8e8e8;
        padding-left: 16px;
        box-sizing: border-box;
      }
    }
  }
}
.g_recommend_popup.register_pop{
  height:522px;
}
/*common end*/
.g-header {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  border-top: 4px solid #D9FFCD;
  .m-center{
    margin: 0 auto;
    width: 1000px;
    a.u-logo{
      display: inline-block;
      line-height: 80px;
      img{
        width: 147px;
      }
    }
    .u-nav{
      display: inline-block;
      padding-left: 40px;
      font-size: 16px;
      li{
        height:35px;
        text-align: center;
        cursor: pointer;
        &:hover a{
          color: #42d1ff;
        }
      }
      a{
        color: #838fa8;
        text-decoration: none;
        padding: 30px;
      }
    }
    .u-search{
      position: absolute;
      top: -5px;
      right: 4px;
      padding-top: 40px;
      padding-bottom: 20px;
      padding-left: 30px;
      height: 100px;
      .search-form {
        height: 30px;
      }
      .search-form.focus {
        border-bottom: 1px solid #737f99;
        outline: none;
        .search-text {
          margin-left: 5px;
          padding: 5px;
          width: 160px;
        }
      }
      .search-submit {
        width: 24px;
        height: 24px;
        background: url(../image/search.png) no-repeat;
        text-indent: -999em;
        cursor: pointer;
        border: 0;
        outline: none;
      }
      .search-text {
        width: 0;
        height: 24px;
        color: #838fa8;
        font-size: 14px;
        border: none;
        line-height: 14px;
        background: transparent;
        outline: none;
        -webkit-transition: width .3s linear;
        -moz-transition: width .3s linear;
        transition: width .3s linear;
      }
    }
  }
  .m-login{
    position: absolute;
    right: 0;
    top:0;
    button.u-signup{
      float: left;
      color: #fff;
      height: 24px;
      background-color: #6c7162;
      text-align: center;
      cursor: pointer;
      margin-left: 10px;
      padding: 0 20px;
      &:hover{
        background-color:#46b855;
      }
    }
  }
}
.g-body.index_page{
  .m_banner{
    position: relative;
    width: 100%;
    height:420px;
    .u_pics{
      padding: 0;
      li{
        display: none;
        z-index: 1;
        position: absolute;
        width: 100%;
        top:-10px;
      }
      a{
        display: inline-block;
        width: 100%;
        height: 420px;
      }
    }
    .u_btns{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      li{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        float: left;
        margin-left: 15px;
        background-color: transparent;
        border: 1px solid #e8e8e8;
        cursor: pointer;
      }
      li.active{
        background-color: #00B7FF;
      }
    }
  }
  .m_exh_box{
    width: 1200px;
    margin: 30px auto;
    .u_exh_top{
      .exh_img{
        img{
          width: 684px;
          height: 370px;
        }
      }
      .exh_content{
        width: 477px;
        margin-left: 20px;
        h5{
          font-size: 20px;
          color: #343539;
        }
        p{
          font-size: 16px;
          line-height: 1.8;
          text-indent: 31px;
          text-align: justify;
          margin-top: 20px;
        }
      }
    }
    .u_exh_else{
      margin-top: 40px;
      .u_exh_list{
        float: left;
        width: 600px;
        margin-bottom: 30px;
        .exh_img{
          position: relative;
          overflow: hidden;
          &:hover img{
            transform: scale(1.2);
            z-index: 10;
            transition: 1s;
          }
          img{
            width: 580px;
            height: 310px;
            cursor: pointer;
          }
          p{
            width: 100%;
            height: 40px;
            line-height: 40px;
            position: absolute;
            bottom: 0;
            background-color: rgba(255,255,255,0.8);
            margin: 0;
            padding-left: 41px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
.g-body{
  width: 100%;
  height: auto;
  min-height: 469px;
}
.g-footer{
  color: #737f99;
  position: relative;
  z-index: 99;
  padding: 30px 0;
  background: #363d4d;
  text-align: center;
  .m-sns{
    text-align: center;
  }
  .m-copyright{
    text-transform: uppercase;
    font-size: 14px;
  }
  a{
    color: #737f99;
    position: relative;
    white-space: nowrap;
  }
}
aside{
  .back2top{
    position: fixed;
    right: 20px;
    bottom: -5px;
    z-index: 99;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    background: #2c2f38 url(../image/gotop.png) 0 0 no-repeat;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: bottom .3s ease-out,opacity .3s ease;
    -webkit-transition: all .3s linear;
    -moz-transition: bottom .3s ease-out,opacity .3s ease;
    -moz-transition: all .3s linear;
    -o-transition: bottom .3s ease-out,opacity .3s ease;
    -o-transition: all .3s linear;
    transition: bottom .3s ease-out,opacity .3s ease;
    transition: all .3s linear;
    &:hover{
      background-color: #46b855;
    }
  }
  .back2top.scrolled {
    bottom: 20px;
    opacity: 1;
  }
}
//首页

