<div class="g_head clearfix">
    <div class="fl left box">
        <p class="title">已成单客户</p>
        <$ var successNum = _.filter(customers,function(item){return item.result == 3;});$>
        <p class="pink_color"><span><$=successNum.length $></span>人</p>
    </div>
    <div class="fl right box">
        <p class="title">已推荐客户</p>
        <p class="pink_color"><span><$=customers.length$></span>人</p>
    </div>
</div>
<div class="g_body">
    <ul class="clearfix u_nav">
        <li class="selected">
            <p class="num"><$=contactNum.length $></p>
            <p class="text">已联系</p>
        </li>
        <li>

            <p class="num"><$=comeinNum.length $></p>
            <p class="text">已进店</p>
        </li>
        <li>
            <p class="num"><$=successNum.length $></p>
            <p class="text">已成单</p>
        </li>
        <li>

            <p class="num"><$=failNum.length $></p>
            <p class="text">已失效</p>
        </li>
    </ul>
</div>
<div class="g_foot">
    <div class="m_customer select1 clearfix">
        <$_.each(contactNum,function(item){$>
        <div class="customer_list clearfix">
            <p class="fl left"><span class="name"><$=item.name$></span><span class="tel"><$=item.phone$></span></p>
            <p class="fr right"><img src="./img/home_page/right.png" alt="right"></p>
        </div>
        <$ }); $>
    </div>
    <div class="m_customer select2 display_none clearfix">
        <$_.each(comeinNum,function(item){$>
        <div class="customer_list clearfix">
            <p class="fl left"><span class="name"><$=item.name$></span><span class="tel"><$=item.phone$></span></p>
            <p class="fr right"><img src="./img/home_page/right.png" alt="right"></p>
        </div>
        <$ }); $>
    </div>
    <div class="m_customer select3 display_none clearfix">
        <$_.each(successNum,function(item){$>
        <div class="customer_list clearfix">
            <p class="fl left"><span class="name"><$=item.name$></span><span class="tel"><$=item.phone$></span></p>
            <p class="fr right"><img src="./img/home_page/right.png" alt="right"></p>
        </div>
        <$ }); $>
    </div>
    <div class="m_customer select4 display_none clearfix">
        <$_.each(failNum,function(item){$>
        <div class="customer_list clearfix">
            <p class="fl left"><span class="name"><$=item.name$></span><span class="tel"><$=item.phone$></span></p>
            <p class="fr right"><img src="./img/home_page/right.png" alt="right"></p>
        </div>
        <$ }); $>
    </div>
</div>