<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
</head>
<body>
<%-message %>
<div class="form">
    <input id="email" type="email" placeholder="邮箱">
    <button type="button">提交</button>
</div>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script>
    $('button').click(function(){
        var email = $('#email').val();
        $.ajax({
            url:'/sendmail',
            type:'post',
            data:{"uemail":email},
            success:function(data,status){
                if(status == 'success'){

                }
            },
            error:function(data,err){
                location.href='forget';
            }
        })
    })
</script>
</body>
</html>