<%-include ./layout/homeheader.html%>
<main class="g-body">
    <% Commoditys.forEach(function(commodity,index){ %>
    <p>
        <a href="/exh_detail?uid=<%=commodity._id%>"><%=commodity.name %></a>
        <%=commodity.name %>
        <%=commodity.price %>
        <%=commodity.imgSrc %>
        <a class="btn btn-success" style="width: 120px;"  href="/addToCart/<%=commodity._id%>">加入购物车</a>
    </p>
    <% }) %>
    <a  href="cart" style="margin-right: 35px;">购物车</a>
</main>
<%-include ./layout/footer.html%>