<%-include ./layout/homeheader.html%>
<main class="g-body">
    <%if(search && search.length>0){%>
    <% search.forEach(function(item){ %>
    <table border="1">
        <thead>
            <th>馆名</th>
            <th>价格</th>
        </thead>
        <tbody>
            <td> <a href="/exh_detail?uid=<%=item.id%>"><%=item.name%></a></td>
            <td> <p><%=item.price%></p></td>
        </tbody>
    </table>
    <% });}else{ %>
        <p>没有查到你想要的展览馆，实在抱歉!</p>
    <%}%>
</main>
<%-include ./layout/footer.html%>