<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
<div id="name"><%=user.name%></div>你好：
<input id="password" type="password" placeholder="新密码">
<button type="button">修改</button>
<script type="text/javascript" src="../javascripts/jquery.min.js"></script>
<script>
    $('button').click(function(){
        var password = $('#password').val();
        var name = $('#name').text();
        $.ajax({
            url:'/cpwd',
            type:'post',
            data:{name:name,password:password},
            success:function(data,status){
                if(status == 'success'){
                    alert("success")
                }else {
                    alert("err")
                }
            },
            error:function(data,status){
                alert('错误')
            }
        })
    })
</script>
</body>
</html>